{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="section-intro mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-3 col-md-6 mt-3 offset-3 text-center">
                <h1>ระบบบริหารและจัดการการประชุม</h1>
                <form method="GET" action="#">
                    <div class="form-group">
                        <label for="meeting_title">หัวข้อการประชุม:</label>
                        <input type="text" name="meeting_title" id="meeting_title" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">ค้นหา</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">รหัสการประชุมทั้งหมด</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}