{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="section-intro mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-3 col-md-6 mt-3 offset-3 text-center">
                <h1>ระบบบริหารและจัดการการประชุม</h1>
                <form method="GET" action="#">
                    <div class="form-group">
                        <label for="meeting_title">หัวข้อการประชุม:</label>
                        <input type="text" name="meeting_title" id="meeting_title" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">ค้นหา</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="row">
            <div class="offset-3 col-md-6 offset-3">
                <div class="card card-product-grid">
                    <img class="card-img-top img-wrap" src="{% static 'image/pic/meeting.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">สร้างหัวข้อการประชุม</h5>
                        <p class="card-text">สร้างหัวข้อการประชุมที่ท่านต้องการ</p>
                        <a href="{% url 'create_meeting' %}" class="btn btn-primary mt-2">เข้าใช้งานระบบ</a>
                    </div>
                </div>
                <div class="card card-product-grid">
                    <img class="card-img-top img-wrap" src="{% static 'image/pic/folders.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ระบบจัดการเอกสารการประชุม</h5>
                        <p class="card-text">จัดเตรียมเอกสารสำหรับการประชุมของท่าน</p>
                        <a href="{% url 'create_report' %}" class="btn btn-primary mt-2">เข้าใช้งานระบบ</a>
                    </div>
                </div>
                <div class="card card-product-grid">
                    <img class="card-img-top img-wrap" src="{% static 'image/pic/commentator.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ระบบแต่งตั้งคณะกรรมการการประชุม</h5>
                        <p class="card-text">
                            แต่งตั้งคณะกรรมการสำหรับการประชุม ระบบจะแจ้งเตือนไปยังผู้ใช้งานที่ได้รับการแต่งตั้งเป็นกรรมการ
                            และจะแจ้งรายชื่อกรรมการแก่สมาชิกที่เข้าร่วมกาประชุม
                        </p>
                        <a href="#" class="btn btn-primary mt-2">เข้าใช้งานระบบ</a>
                    </div>
                </div>
                <div class="card card-product-grid">
                    <img class="card-img-top img-wrap" src="{% static 'image/pic/working.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">สร้ากลุ่มผู้ใช้งาน</h5>
                        <p class="card-text">จัดการกลุ่มผู้ใช้งานได้แก่ ผู้บริหาร เลขา กรรมการ แอดมิน</p>
                        <a href="#" class="btn btn-primary mt-2">เข้าใช้งานระบบ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}